nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	background-color: #000;
	color: #fff;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: blue;
	padding: 5px;
}

a:hover, a:focus {
	text-decoration: none;
	color: inherit;
}

.active {
	color: white;
}

.container {
	padding-top: 50px;
	text-align: center;
}

.hidden {
	display: none;
}